<!DOCTYPE html>
<html>

<head>
    <title>New Sails App</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--? STYLES-->
    <link rel="stylesheet" href="/styles/styles.css?112232">
    <!--? STYLES END-->
</head>

<body>

    <div class="container-layout">
        <!-- ?Top Triangle -->
        <img class="triangle-top" src="/images/Rectangle-top.svg" alt="Rectangle-top">
        <!-- ?content -->
        <article>
            <div class="text-container">
                <div class="title-container">
                    <h1>
                        TO DO LIST
                    </h1>
                    <img class="icon" src="images/icon.svg" alt="">
                </div>

                <p>Descripcion de lo que sea que vamos a hacer pero pongo esto porque no tengo ni idea de que escribir y un lorem no se ve bien pero bueno es lo que hay amigos.</p>
            </div>
            <form action="INICIAR SESION">
                <h2>INICIAR SESION</h2>
                <!-- ?input Email -->

                <input placeholder="Correo electrónico" type="email" name="Email" class="input-email" id="Email">
                <!-- ?input Password-->

                <input placeholder="Contraseña" type="password" name="password" id="password" class="input-password">
                <input class="input-submit" type="submit" value="ENVIAR">

                <hr>

                <button class="register-btn">
                  <a class="register" href="#">REGISTRARSE</a>
                </button>
                <a class="password-link" href="#">¿Olvidaste tu contraseña?</a>
            </form>
        </article>
        <!-- ?Bottom Triangle -->
        <img class="triangle-bottom" src="/images/Rectangle-bottom.svg" alt="Rectangle-bottom">

    </div>
    <script src="/dependencies/sails.io.js"></script>
</body>

</html>



<!-- <nav>
      <ul>
        <li><a href="/auth/signin">link 1</a></li>
        <li><a href="/auth/signup">link 2</a></li>
        <li><a href="/">link 3</a></li>
      </ul>
    </nav> -->
